// ------ФОН---------
$bg__theme_dark-gray: #C4C4C4;
$bg__theme_gray: #E8EBED;
$bg__theme_light-blue: #E8EBED;
$bg__theme_blue: #90BCE8;
$bg__theme_yellow: #FEBF26;
$bg__theme_light-red: #FFAA87;
$bg__theme_purple: #C7ABD4;
$bg__theme_red: #F55E62;
$bg__theme_dark: #A2A9B7;
$bg__theme_light-green: #E3EBD3;

// ------SCREENS---------
$screen-sm: 480px !default;
$screen-md: 768px !default;

// ------FONTS---------
$text__html_family: Roboto; 
$text__headline_size: 24px;
$text__headline_ln-height: 20px;
$text__group_size: 14px;
$text__main-block_size: 18px;
$text__main-block_ln-height: 26px;

$text__color_white: #ffffff;
$text__color_black: #000000;

// ------BORDERS---------
$border_bottom-dash: 1px dashed;

html, body {
    padding: 0;
    margin: 0;
    font-family: $text__html_family;
    height: 100%;
    width: 100%;
    min-width: 320px;
}

.wrapper {
    min-height: 100%;
    position: relative;
    min-width: 320px;

    @media (min-width: 320px) {
        overflow-x: hidden;
    }
}

// ------HEADER & FOOTER---------
.header, .footer {
    height: 90px;
    background-color: $bg__theme_dark-gray;
    font-size: $text__headline_size;
    line-height: $text__headline_ln-height;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.header {
    margin-bottom: 10px;
}

.block-name {
    display: inline-block;
}

// ------GROUP of ELEMENTS---------

.position {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 90px 0;
    margin-top: 10px;
    max-width: 768px;
    width: 100%;
    margin: 0 auto;

    @media (min-width: $screen-sm) {
        padding: 0 12px 90px 13px;
    }

}

.element {
    height: 155px;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
    display: flex;
    align-items: flex-end;
    font-size: $text__group_size;
    position: relative;

    &__text-desc {
        display: inline-block;
        width: 100%;
    }

    &--bg {
        &-blue {
            background-color: $bg__theme_blue;
        }

        &-light-blue {
            background-color: $bg__theme_light-blue;
        }

        &-yellow {
            background-color: $bg__theme_yellow;
        }

        &-light-red {
            background-color: $bg__theme_light-red;
        }

        &-light-green {
            background-color: $bg__theme_light-green;
        }
    
        &-purple {
            background-color: $bg__theme_purple !important;
        }
    
        &-red {
            background-color: $bg__theme_red !important;
        }

        &-dark-gray {
            background-color: $bg__theme_dark;
        }
    }
    
    &--width-half {
        width: calc(50% - 5px);
        
        @media (min-width: $screen-sm) {
            width: 100%;
        }
    }

    &--top {
        padding: 0;
        height: auto;
    }

    &--height-auto {
        padding: 0;
        height: auto;
    }
    
    &--include-img {
        height: 100%;
        z-index: 0;
        justify-content: flex-start;
        color: $text__color_white;
        background-image: url("../image.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}

.hover {
    &-img {
        z-index: 2;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        color: $bg__theme_red;
        font-size: 36px;
        width: 61px;
        height: 61px;
        background-image: url("../Ellipse.png");
        display: none;
        justify-content: center;
        align-items: center;
    }

    &-mark {
        font-size: 36px;
    }
}

.blur-ie {
    position: absolute;
    display: none;
    z-index: 1;

    &--text {
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 1;
        display: none;
    }
}

.wrapper-img {
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;

    & .box__child {
        padding: 0;
    }

    &:hover {
        .hover-img {
            display: flex;
        }

        .blur-ie {
            display: block;

            &--text {
                display: block;
            }
        }
    }
}

.group {
    min-width: 320px;
    width: 100%;
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: $text__group_size;

    @media (min-width: $screen-sm) {
        flex-direction: row;
    }

    &__row {
        height: 320px;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;

        @media (min-width: $screen-sm) {
            width: calc(67% - 5px);
            margin-bottom: 0;
        }

        &--direction {
            display: flex;
            justify-content: space-between;

            @media (min-width: $screen-sm) {
                flex-direction: column;
                width: calc(33% - 5px);
            }

            &-other {
                @media (min-width: $screen-sm) {
                    order: -2;
                }
            }
        }

        &--one-direction {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: calc(33% - 5px);
        }
    
        &--height {
            background-color: $bg__theme_dark;
            width: calc(67% - 5px);
            margin: 0;
            box-sizing: border-box;
        }
    
        &--bg-light-green {
            background-color: $bg__theme_light-green;
        }
    
        &--reverse {
            flex-direction: column-reverse;
        }
    }

    &--replace {
        color: $text__color_white;

        @media (min-width: $screen-sm) {
            order: -1;
        }

        @media (max-width: $screen-sm) {
            flex-direction: row;
        }
    }

    &--invisible {
        display: none;

        @media (min-width: $screen-sm) {
            display: flex;
        }
    }
}

.box {
    position: relative;
    width: 100%;
    padding: 0 0 100% 0;
    box-sizing: border-box;

    &__child {
        position: absolute;
        box-sizing: border-box;
        padding: 15px;
        width: 100%;
        height: 100%;

        &--position {
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
        }

        &--font-size {
            text-align: center;
            overflow-y: auto;
            padding: 30px 46px 53px 25px;
            font-size: $text__main-block_size;
            line-height: $text__main-block_ln-height;
        }
    }
}

.row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    @media (min-width: $screen-sm) {
        margin-bottom: 0;
    }

    &--height {
        background-color: $bg__theme_dark;
        width: calc(67% - 5px);
        margin: 0;
        box-sizing: border-box;
    }

    &--bg-light-green {
        background-color: $bg__theme_light-green;
    }

    &--reverse {
        flex-direction: column-reverse;
    }
}

.inline {
    display: flex;
    margin-top: 30px;

    &__text {
        &--empty {
            width: 100%;
            border-bottom: $border_bottom-dash $text__color_black;
            height: 14px;
            display: table-cell;
        }
    }

    &--short {
        display: flex;
        justify-content: flex-end;
    }

    &--first {
        margin: 0;
    }

    &--view-col {
        flex-direction: column;
    }
}

.text {
    display: table-cell;

    &--col-left {
        padding-right: 15px;
    }

    &--col-right {
        padding-left: 15px;
    }
}

.layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .element {
        width: calc(50% - 5px);
    }

}