html, body {
  padding: 0;
  margin: 0;
  font-family: Roboto;
  height: 100%;
  width: 100%;
  min-width: 320px;
}

.wrapper {
  min-height: 100%;
  position: relative;
  min-width: 320px;
}
@media (min-width: 320px) {
  .wrapper {
    overflow-x: hidden;
  }
}

.header, .footer {
  height: 90px;
  background-color: #C4C4C4;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  margin-bottom: 10px;
}

.block-name {
  display: inline-block;
}

.position {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 0 90px 0;
  margin-top: 10px;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 480px) {
  .position {
    padding: 0 12px 90px 13px;
  }
}

.element {
  height: 155px;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  font-size: 14px;
  position: relative;
}
.element__text-desc {
  display: inline-block;
  width: 100%;
}
.element--bg-blue {
  background-color: #90BCE8;
}
.element--bg-light-blue {
  background-color: #E8EBED;
}
.element--bg-yellow {
  background-color: #FEBF26;
}
.element--bg-light-red {
  background-color: #FFAA87;
}
.element--bg-light-green {
  background-color: #E3EBD3;
}
.element--bg-purple {
  background-color: #C7ABD4 !important;
}
.element--bg-red {
  background-color: #F55E62 !important;
}
.element--bg-dark-gray {
  background-color: #A2A9B7;
}
.element--width-half {
  width: calc(50% - 5px);
}
@media (min-width: 480px) {
  .element--width-half {
    width: 100%;
  }
}
.element--top {
  padding: 0;
  height: auto;
}
.element--height-auto {
  padding: 0;
  height: auto;
}
.element--include-img {
  height: 100%;
  z-index: 0;
  justify-content: flex-start;
  color: #ffffff;
  background-image: url("../image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hover-img {
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: #F55E62;
  font-size: 36px;
  width: 61px;
  height: 61px;
  background-image: url("../Ellipse.png");
  display: none;
  justify-content: center;
  align-items: center;
}
.hover-mark {
  font-size: 36px;
}

.blur-ie {
  position: absolute;
  display: none;
  z-index: 1;
}
.blur-ie--text {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
  display: none;
}

.wrapper-img {
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}
.wrapper-img .box__child {
  padding: 0;
}
.wrapper-img:hover .hover-img {
  display: flex;
}
.wrapper-img:hover .blur-ie {
  display: block;
}
.wrapper-img:hover .blur-ie--text {
  display: block;
}

.group {
  min-width: 320px;
  width: 100%;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 14px;
}
@media (min-width: 480px) {
  .group {
    flex-direction: row;
  }
}
.group__row {
  height: 320px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .group__row {
    width: calc(67% - 5px);
    margin-bottom: 0;
  }
}
.group__row--direction {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 480px) {
  .group__row--direction {
    flex-direction: column;
    width: calc(33% - 5px);
  }
}
@media (min-width: 480px) {
  .group__row--direction-other {
    order: -2;
  }
}
.group__row--one-direction {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(33% - 5px);
}
.group__row--height {
  background-color: #A2A9B7;
  width: calc(67% - 5px);
  margin: 0;
  box-sizing: border-box;
}
.group__row--bg-light-green {
  background-color: #E3EBD3;
}
.group__row--reverse {
  flex-direction: column-reverse;
}
.group--replace {
  color: #ffffff;
}
@media (min-width: 480px) {
  .group--replace {
    order: -1;
  }
}
@media (max-width: 480px) {
  .group--replace {
    flex-direction: row;
  }
}
.group--invisible {
  display: none;
}
@media (min-width: 480px) {
  .group--invisible {
    display: flex;
  }
}

.box {
  position: relative;
  width: 100%;
  padding: 0 0 100% 0;
  box-sizing: border-box;
}
.box__child {
  position: absolute;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  height: 100%;
}
.box__child--position {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.box__child--font-size {
  text-align: center;
  overflow-y: auto;
  padding: 30px 46px 53px 25px;
  font-size: 18px;
  line-height: 26px;
}

.row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
@media (min-width: 480px) {
  .row {
    margin-bottom: 0;
  }
}
.row--height {
  background-color: #A2A9B7;
  width: calc(67% - 5px);
  margin: 0;
  box-sizing: border-box;
}
.row--bg-light-green {
  background-color: #E3EBD3;
}
.row--reverse {
  flex-direction: column-reverse;
}

.inline {
  display: flex;
  margin-top: 30px;
}
.inline__text--empty {
  width: 100%;
  border-bottom: 1px dashed #000000;
  height: 14px;
  display: table-cell;
}
.inline--short {
  display: flex;
  justify-content: flex-end;
}
.inline--first {
  margin: 0;
}
.inline--view-col {
  flex-direction: column;
}

.text {
  display: table-cell;
}
.text--col-left {
  padding-right: 15px;
}
.text--col-right {
  padding-left: 15px;
}

.layer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.layer .element {
  width: calc(50% - 5px);
}

/*# sourceMappingURL=output.css.map */
