doctype
head
    title Тест with Sass & Pug
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="Sass/output.css" type="text/css")
body
    .wrapper
        header.header
            span.block-name header
        .position
            div.group
                .group__row
                    .layer
                        .element.element--bg-light-blue
                            span.element__text-desc Наши сотрудники
                        .element.element--bg-light-blue
                            span.element__text-desc Просветляет понимающий текст
                    .element.element--bg-light-blue
                        span.element__text-desc Конформизм
                .group__row--direction
                    .element.element--bg-blue.element--width-half
                        span.element__text-desc Интроекция
                    .element.element--bg-yellow.element--width-half
                        span.element__text-desc Наши сотрудники

            div.group.group--replace
                .group__row--height
                    .box
                        .box__child.box__child--font-size
                            span  Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. 
                                | Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                    
                .group__row--one-direction
                    .element.element--top.element--bg-dark-gray
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Чувство однократно
                    .element.element--height-auto.element--bg-dark-gray
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Морено

            div.group.group--invisible
                .group__row--one-direction
                    .element.element--top.element--bg-light-green
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Понятие модернизации понимает механизм власти
                    div.wrapper-img
                        .box
                            .box__child
                                .hover-img
                                        .hover-mark !
                                svg(class="blur-ie" width="100%" height="100%" viewbox="0 0 241 241" preserveAspectRatio="xMidYMid slice")
                                    defs
                                        filter#blur
                                            feGaussianBlur(stdDeviation="5")
                                    image(xlink:href="image.jpg" width="100%" height="100%" filter="url(#blur)")
                                svg(class="blur-ie--text" width="110px" height="20px" viewbox="0 0 110 20" preserveAspectRatio="none")
                                    defs
                                        filter#blur--text
                                            feGaussianBlur(stdDeviation="3")
                                    image(xlink:href="Text.png" width="110" height="20" filter="url(#blur--text)")
                                .element.element--include-img
                                    span.element__text-desc Наши сотрудники
                
                .group__row--height.row--bg-light-green
                    .box
                        .box__child
                            .inline.inline--first
                                span.text.inline__text.text--col-left Фамилия
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right Мамай
                            .inline.inline--view-col
                                .inline--short
                                    span.text.inline__text Станиславаленина
                                div
                                    span.text.inline__text.text--col-left Имя&nbsp;и&nbsp;отчество
                                    span.text.inline__text.inline__text--empty
                                    span.text.inline__text.text--col-right Владимировна
                            .inline.inline--view-col
                                div
                                    span.text.inline__text.text--single-long Номер полиса выдан заведомо
                                div
                                    span.text.inline__text.text--col-left ложный
                                    span.text.inline__text.inline__text--empty
                                    span.text.inline__text.text--col-right 01354879
                            .inline
                                span.text.inline__text.text--col-left Дата&nbsp;рождения
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right 01.12.1976
                            .inline
                                span.text.inline__text.text--col-left Телефон
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right +79254218069

            
            div.group
                .group__row.group__row--reverse
                    .layer
                        .element.element--bg-light-red
                            span.element__text-desc Точка перегиба
                        .element.element--bg-purple
                            span.element__text-desc Длина вектора
                    .element.element--bg-light-red
                        span.element__text-desc Однако
                .group__row--direction.group__row--direction-other
                    .element.element--bg-light-red.element--width-half
                        span.element__text-desc Лидерство
                    .element.element--bg-red.element--width-half
                        span.element__text-desc Невероятный гений
        footer.footer
            span.block-name footer